{% macro displayPitches(pitches_list)%} {%for pitch in pitches_list%}


<div class="well well-lg">
    <h4>{{pitch.p_title}}</h4>
    <p>{{pitch.p_body| truncate(100)}}</p>
    <p>Written by: {{pitch.user.username}} <a href="/pitch/{{pitch.id}}" class="btn btn-primary pull-right">View</a> </p>
</div>
</div>

{%endfor%} 
{%endmacro%} 
{%macro displayReviews(reviews_list)%} 
<h3>Reviews</h3> <hr>
{%for review in reviews_list%}
<p>User {{review.user.username| capitalize}} says: {{review.review| capitalize}}</p>
{%endfor%} {%endmacro%}